---
layout: page
# The Home page layout
---

{% include lang.html %}


<div class="row h-20">
    <div class="post pl-2 pr-1 h-20 d-flex flex-column justify-content-center">
        <h1 class="display-4.5 font-weight-bold mb-0">Jiwoo <span class="text --accent">Hong</span></h1>
        <h5 style="line-height: 1.5">
            <p style="margin-bottom: 20px;">
                Hello! I'm first-year Master's student at <a href="https://gsai.kaist.ac.kr/" target="_blank" rel="noopener" style="color: var(--hyperlink-color)">Kim Jaechul Graduate School of AI of KAIST</a>, majoring AI and NLP under supervision of Professor <a href="https://jamesthorne.com/" target="_blank" rel="noopener" style="color: var(--hyperlink-color)">James Thorne</a> at <a href="https://xfact.net/" target="_blank" rel="noopener" style="color: var(--hyperlink-color)">XFACT</a>.
         I graduated with the highest honors (<i>Summa Cum Laude</i>) and received my Bachelor's degree in Statistics and Industrial Engineering at <a href="https://www.skku.edu/eng/index.do" target="_blank" rel="noopener" style="color: var(--hyperlink-color)">SungKyunKwan University</a>. 
            </p>
            <br>
            <p>
                My major research interest in NLP and AI systems are:
                <ul style="list-style-type: square">
                    <li>Data-Efficient Language Model Alignment</li>
                    <li>Large Language Model Personalization</li>
                    <li>Factuality in Language Models</li>
                </ul>
            </p>
            <br>
        </h5> 
        <div>
            <div class="display-4 mt-3 d-flex justify-content-start align-items-center">
                <a href="https://github.com/{{ site.github.username }}"
                   aria-label="github"
                   target="_blank"
                   rel="noopener"
                   class="mr-3">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/{{ site.linkedin.username }}"
                   aria-label="linkedin"
                   target="_blank"
                   rel="noopener">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
